<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .contenido {
            padding: 20px;
            width: 100%;
            max-width: 1200px;
        }

        .contenido header {
            background: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }

        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: #424874;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 2px solid #ddd;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #D3D4DE;
            padding: 10px;
            text-align: left;
        }

        button {
            background-color: #424874;
            color: white;
            cursor: pointer;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 200px;
            height: 40px;
            font-size: 16px;
        }
        .button i {
            margin-right: 10px;
        }

    </style>
</head>
<body>

<div class="contenido">
    <header>
        <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/admin'"></i>Entidad 3 - Media</h1>
    </header>
    <h2>Listado</h2>
    <table>
        <thead>
        <tr>
            <th>Orden</th>
            <th>Nombre</th>
            <th>Src</th>
            <th>Url</th>
            <th>titulo</th>
            <th>Integrante</th>
            <th>Matricula</th>

        </tr>
        </thead>
        <tbody>
        {{#each media}}
            <tr>
                <td>{{orden}}</td>
                <td>{{tipoMediaNombre}}</td>
                <td>
                    {{#if src}}
                        <img src="{{src}}" alt="{{titulo}}" height=60px width="80px">
                    {{else}}
                        <div style="text-align: center">
                            <i class="fas fa-minus" style="color: gray"></i>
                        </div>
                    {{/if}}
                </td>
                <td>
                    {{#if url}}
                        <a href="{{url}}" target="_blank">{{url}}</a>
                    {{else}}
                        <div style="text-align: center">
                            <i class="fas fa-minus" style="color: gray"></i>
                        </div>
                    {{/if}}
                </td>
                <td>{{titulo}}</td>
                <td>{{integranteNombre}} {{integranteApellido}}</td>
                <td>{{matricula}}</td>
            </tr>
        {{/each}}
        </tbody>
        <button class="button" onclick="window.location.href='/admin/media/crear'"><i class="fas fa-plus"></i>Crear</button>
    </table>
</div>

</body>
</html>
